<h1>Posts Index Page</h1>

<% @posts.each do |post| %>
    <h2><%= link_to post.title, post_path(post) %></h2>
    <p><%= post.created_at.strftime('%A, %B %d') %></p>
    <!--<p><%= post.content %></p>-->
<% end %>

<br>
<br>
<br>

<div class="flickr_pagination">
    <dov class="page_info">
        <%= will_paginate @posts %>
    </dov>
</div>

<br>
<br>
<br>

<%= link_to 'New Post', new_post_path %>