<p><%= @post.created_at.strftime('%A, %B %d') %></p>
<h1><%= @post.title %></h1>
<hr>
<p><%= markdown @post.content %></p>
<hr>
<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
    <!-- Facebook -->
        <i class="fa fa-facebook"></i>
    </div>
</div>
<br>
<div class="row">
    <%= link_to "Edit", edit_post_path(@post) %>
    <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure you want to delete this post?"} %>
</div>

<div class="row">
    <%= render 'disqus' %>
</div>